@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-header {
  view-transition-name: header-animate;
}

.glow-card {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(222, 54, 246, 0.3);
  box-shadow: 0 0 20px rgba(222, 54, 246, 0.3);
}

::view-transition-old(header-animate) {
  animation: headerAnimationOut 1s ease-in-out 1 forwards;
}

::view-transition-new(header-animate) {
  animation: headerAnimation 2s ease-in-out 1 forwards;
}


@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes headerAnimationOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

